body {
    
    font-family: Arial, sans-serif;
    background-image:radial-gradient(circle at 82% 63%, rgba(183, 183, 183,0.09) 0%, rgba(183, 183, 183,0.09) 84%,transparent 84%, 
    transparent 100%),radial-gradient(circle at 88% 98%, rgba(232, 232, 232,0.07) 0%, rgba(232, 232, 232,0.07) 15%,transparent 15%, 
    transparent 100%),radial-gradient(circle at 77% 83%, rgba(252, 252, 252,0.05) 0%, rgba(252, 252, 252,0.05) 5%,transparent 5%, 
    transparent 100%),radial-gradient(circle at 64% 0%, rgba(140, 140, 140,0.05) 0%, rgba(140, 140, 140,0.05) 54%,transparent 54%,
     transparent 100%),radial-gradient(circle at 57% 86%, rgba(241, 241, 241,0.07) 0%, rgba(241, 241, 241,0.07) 80%,transparent 80%,
      transparent 100%),radial-gradient(circle at 17% 93%, rgba(68, 68, 68,0.05) 0%, rgba(68, 68, 68,0.05) 82%,transparent 82%, 
      transparent 100%),radial-gradient(circle at 85% 70%, rgba(10, 10, 10,0.02) 0%, rgba(10, 10, 10,0.02) 13%,transparent 13%,
       transparent 100%),linear-gradient(90deg, rgb(48, 62, 175),rgb(254, 18, 105));
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    text-align: center;

    
}

.container {
    background-image: radial-gradient(circle at 89% 58%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02)
            3%,transparent 3%, transparent 100%),radial-gradient(circle at 7% 3%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            3%,transparent 3%, transparent 100%),radial-gradient(circle at 92% 81%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03)
            3%,transparent 3%, transparent 100%),radial-gradient(circle at 41% 26%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            7%,transparent 7%, transparent 100%),radial-gradient(circle at 73% 97%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            7%,transparent 7%, transparent 100%),radial-gradient(circle at 99% 96%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02)
            7%,transparent 7%, transparent 100%),radial-gradient(circle at 86% 13%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02)
            7%,transparent 7%, transparent 100%),radial-gradient(circle at 82% 55%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03)
            7%,transparent 7%, transparent 100%),radial-gradient(circle at 49% 70%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            7%,transparent 7%, transparent 100%),radial-gradient(circle at 23% 73%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03)
            5%,transparent 5%, transparent 100%),radial-gradient(circle at 40% 71%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02)
            5%,transparent 5%, transparent 100%),radial-gradient(circle at 61% 33%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            5%,transparent 5%, transparent 100%),radial-gradient(circle at 76% 73%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            5%,transparent 5%, transparent 100%),radial-gradient(circle at 73% 77%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02)
            5%,transparent 5%, transparent 100%),radial-gradient(circle at 2% 25%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03)
            5%,transparent 5%, transparent 100%),radial-gradient(circle at 85% 61%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01)
            5%,transparent 5%, transparent 100%),linear-gradient(45deg, rgb(124, 32, 249),rgb(249, 194, 209));
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 400px;
            text-align: center;
            color: black;

}

button:hover {
    
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
    
  